<!DOCTYPE html>
<html lang="en">
<head>
  <title>ProductRunt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli" >
    <link rel="stylesheet" href="../src/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

  <% include nav.ejs %>
  <main role="main">
  <div class="bg-scalemu">
    <div class="container">
      <div class="center-group">
          <p class="runbot">With runtbot, you can</p>
          <h3 class="text-center mt-3 mb-4 focusmore"> Focus More on Conversions</h3>
          <div class="row">
                  <div class="col-8 pr-0">
                    <input type="text" class="form-control form-control-lg emailfont" placeholder="Your e-mail ID">
                  </div>
                  <div class="col-4 pl-0">
                    <button type="submit" class="btn btn-primary mb-2 get-started">Get Started</button>
                  </div>
          </div>
          <p class="credit-card">No Credit Cards Required</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="character-plaugue">
      <img class="img-responsive center-block" src="../src/img/character.svg">
    </div>
  </div>
  <div class="container">
    <div class="space-center">
        <ul class="list-inline gray">
            <li class="list-inline-item"> <img src="../src/img/1.svg" class="img-responsive" /></li>
            <li class="list-inline-item"> <img src="../src/img/2.svg" class="img-responsive" /> </li>
            <li class="list-inline-item"> <img src="../src/img/3.svg" class="img-responsive" /></li>
            <li class="list-inline-item"> <img src="../src/img/4.svg" class="img-responsive" /></li>
            <li class="list-inline-item"> <img src="../src/img/5.svg" class="img-responsive" /></li>
          </ul>
    </div>
  </div>
  <div class="container">
    <div class="core-features">
      <div class="core-head">
          <p>Core Features</p>
          <h3>More than your regular Chatbot!</h3>
      </div>
      <div class="push-center">
          <div class="row">
              <div class="col-md-6">
                <div class="my-values">
                   <div class="row">
                  <div class="col-2">
                    <img src="../src/img/i1.svg" alt="">
                  </div>
                  <div class="col-10">
                      <div class="allright">
                          <h6 class="idothis">Bring All Data into One Place</h6>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempore.</p>
                          <a href="#" class="learn">LEARN MORE <img src="../src/img/arrow-right.svg" class="arrow"></a>
                      </div>
                  </div>
                </div>
                </div>
               
              </div>
            <div class="col-md-6">
              <div class="my-values">
                 <div class="row">
                <div class="col-2">
                  <img src="../src/img/i2.svg" alt="">
                </div>
                <div class="col-10">
                    <div class="allright">
                        <h6 class="idothis">Transformation Engine</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempore.</p>
                        <a href="#" class="learn">LEARN MORE <img src="../src/img/arrow-right.svg" class="arrow"></a>
                    </div>
                </div>
              </div>
      
              </div>
             
            </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="my-values">
                    <div class="row">
                    <div class="col-2">
                      <img src="../src/img/i3.png" alt="">
                    </div>
                    <div class="col-10">
                        <div class="allright">
                            <h6 class="idothis">Works with all kinds of Data</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempore.</p>
              
                            <a href="#" class="learn">LEARN MORE <img src="../src/img/arrow-right.svg" class="arrow"></a>
    
                        </div>
                       
                    </div>
                  </div>
                  </div>
                 
                </div>
              <div class="col-md-6">
                <div class="my-values">
                   <div class="row">
                  <div class="col-2">
                    <img src="../src/img/i4.png" alt="">
                  </div>
                  <div class="col-10">
                    <div class="allright">
                        <h6 class="idothis">Straightfoward</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempore.</p>
                        <a href="#" class="learn">LEARN MORE <img src="../src/img/arrow-right.svg" class="arrow"></a>
                        
                    </div>
                  </div>
                </div>
                </div>
               
              </div>
          </div>
          <div class="row">
            <div class="mx-auto my-4">
                <!-- <div class="col-6"> -->
                    <a href="#" class="gt-start">Get Started</a>
                    <a href="#" class="view-demo"> <img src="../src/img/play-circle.svg"> Watch a demo</a>
                <!-- </div> -->
            </div>
          </div>
      </div>
     
    </div>
    <div class="purl-grad">
        <div class="mt-testi">
        <p class="text-center">
          Productrunt changed the way we used our customer support agents. We’re no longer wasting time on dealing with the most commonly asked clients. The onboarding and ongoing customer support has been like nothing I’ve experienced before.
        </p>
        <p class="saywho">
            Bryan Gardner, FBI
        </p>
    </div>
    </div>
  
  </div>
  <div class="m-smart text-center ">
    <div class="smurk-p">
       <h3 class="simple">Simple yet revolutionary</h3>
       <p class="easy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Ut pretium pretium tempor.</p>
    </div>
     

      <% include dashboardsvg.ejs %>
  </div>
    <div class="convenience">
        <div class="top-tee"></div>

        <div class="allcenter">
            <h3>Enjoy Convenience, today!</h3>
            <p>Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.</p>
            <a href="#" class="mt-5 gt-start">Get Started</a>
        </div>

    </div>
  </main>
  <footer class="py-3">
      <section id="footer">
          <div class="container bluelabel">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
              <div class="col-xs-12 col-sm-4 col-md-2">
                <h5>PRODUCT</h5>
                <ul class="list-unstyled quick-links">
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Use Case</a></li>
                  <li><a href="#">Pricing</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-2">
                <h5>USE CASE</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Use Case</a></li>
                    <li><a href="#">Pricing</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-2">
                <h5>SUPPORT</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Use Case</a></li>
                    <li><a href="#">Pricing</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-2">
                  <h5>COMPANY</h5>
                  <ul class="list-unstyled quick-links">
                      <li><a href="#">Features</a></li>
                      <li><a href="#">Use Case</a></li>
                      <li><a href="#">Pricing</a></li>
                  </ul>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-2">
                <img src="../src/img/logo.svg" alt="ProductRunt">
              </div>
            </div>
          </div>
        </section>
  </footer>
</body>

</html>
